yfiles_jupyter_graphs
langchain_community
duckduckgo_search
langchain-openai
python-multipart
graphdatascience
pydantic-core
scikit-learn
transformers
python-docx
matplotlib
accelerate
langchain
pydantic
datasets
protobuf
fastapi
uvicorn
pyngrok
pytest
pypdf2
typing
openai
dotenv
tinydb
# torch --index-url https://download.pytorch.org/whl/cu124
# torchvision --index-url https://download.pytorch.org/whl/cu124
# torchaudio --index-url https://download.pytorch.org/whl/cu124
neo4j
boto3
numpy
tqdm
